<div id="group-settings" class="card group-settings">
    <div class="card-content">
        <div class="card-title flex-container">
            <p class="left-item">Group Mode</p>
            <div class="right-item switch toggle-group-active-container">
                <% if(lecture.groupActive){ %>
                <label id="lecture-group-toggle" class="toggle-group-active" data-course="<%= course._id %>"
                       data-lecture="<%= lecture._id %>">OFF<input id="lecture-group-input" type="checkbox"
                                                                   checked="checked">
                    <span id="lecture-group-span" class="lever"></span>ON
                </label>
                <% } else{ %>
                <label id="lecture-group-toggle" class="toggle-group-active" data-course="<%= course._id %>"
                       data-lecture="<%= lecture._id %>">OFF<input id="lecture-group-input" type="checkbox">
                    <span id="lecture-group-span" class="lever"></span>ON
                </label>
                <% } %>

            </div>
        </div>
        <p style="color:grey">Class size: <%= course.students.length %></p>
        <div class="input-field">
                        <textarea id="displayQuestion" name="displayQuestion"
                                  class="materialize-textarea"><%= lecture.displayQuestion %></textarea>
            <label id="displayQuestion-label" for="displayQuestion-label" style="margin-bottom: 2px">Question</label>
        </div>
        <div id="group-file-container" class="input-field file-field">
            <span id="group-file-label" class="label">Upload a file to the student white board. Note that you can only upload a file or a question one at a time.</span>
            <div class="btn">
                <span>File</span>
                <input id="group-file" type="file">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>
    </div>
    <% if(lecture.groupActive){ %>
    <div id="update-group" class="card-action">
        <button id="update-group-settings" class="waves-effect waves-teal btn-flat" type="button">Update
        </button>
        <button id="clear-group-settings" class="waves-effect waves-teal btn-flat" type="button">Clear Group Board
        </button>
    </div>
    <% } else { %>
    <div id="update-group" class="card-action hide">
        <button id="update-group-settings" class="waves-effect waves-teal btn-flat" type="button">Update
        </button>
        <button id="clear-group-settings" class="waves-effect waves-teal btn-flat" type="button">Clear Group Board
        </button>
    </div>
    <% } %>
</div>