<html>
  <head>
    <script src="https://aframe.io/releases/0.7.0/aframe.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script src="/easyrtc/easyrtc.js"></script>
    <script src="https://unpkg.com/networked-aframe/dist/networked-aframe.min.js"></script>
  <!--  <script src="networked-aframe-custom.js"></script> -->
    <script src="https://unpkg.com/aframe-event-set-component@3.0.3/dist/aframe-event-set-component.min.js"></script>
    <script src="https://unpkg.com/aframe-look-at-component@0.5.1/dist/aframe-look-at-component.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize//1.0.0-beta/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="/js/group.js"> </script>
    <script src="/js/shake.js"> </script>
    <link href="/css/group.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <script src="/socket.io/socket.io.js"></script>
    <script>

    // if (window.location.protocol == "http:") {
    //   console.log("You are not connected with a secure connection.")
    //   console.log("Reloading the page to a Secure Connection...")
    //   window.location = document.URL.replace("http://", "https://");
    // }
    //
    // if (window.location.protocol == "https:") {
    //   console.log("You are connected with a secure connection.")
    // }

    </script>
      <%- include functions.ejs %>
  </head>
  <%var source; %>
  <%if(instructorFile != null){%>
  <%console.log(getArrayBufferImage(instructorFile.data, instructorFile.fileType))%>
  <% source = getArrayBufferImage(instructorFile.data, instructorFile.fileType) %>
  <%} else { console.log("no image found") } %>

  <% var question; %>
  <% if (instructorQuestion != null) { %>
  <% question = instructorQuestion.question %>
  <% } else { question = "Instructor's Question" }%>
  <div class="stream">
  <body>
    <a-scene networked-scene="
      app: myApp;
      room: Group<%=groupName%><%lectureID%>;
      adapter: EasyRTC;
      debug: true;
      audio: true;
    ">
      <a-assets>
        <img id="slide" src="https://cdn.glitch.com/3ac31fd5-b9c6-4c63-b076-a7d4b243896d%2Fslide.png?1530110254475">
        <img id="clouds" src="https://cdn.glitch.com/3ac31fd5-b9c6-4c63-b076-a7d4b243896d%2Fclouds.jpg?1530201686662">
        <a-asset-item id="body" src="https://cdn.glitch.com/3ac31fd5-b9c6-4c63-b076-a7d4b243896d%2Fbody.obj?1532562754065"></a-asset-item>
        <img id="wood" src="https://cdn.glitch.com/3ac31fd5-b9c6-4c63-b076-a7d4b243896d%2FFloor%201.jpg?1532616805297">

      </a-assets>

      <a-assets>
        <template id="doodle-template">
          <a-entity class="test" line>
          </a-entity>
        </template>
        <template id="avatar-template">
          <a-entity class="avatar" networked-audio-source>

            <a-obj-model class="torso" id="torso" rotation="0 -90 0" scale="0.5 0.5 0.5" src="#body" random_color></a-obj-model>
            <!--<a-sphere class="head"
            color="#5985ff"
            scale="0.45 0.5 0.4"
            ></a-sphere>-->
            <a-entity class="face"
            position="0 0.05 0"
            >
            <a-sphere class="eye"
              color="#efefef"
              position="0.16 0.1 -0.35"
              scale="0.12 0.12 0.12"
              >
              <a-sphere class="pupil"
                color="#000"
                position="0 0 -1"
                scale="0.2 0.2 0.2"
                ></a-sphere>
              </a-sphere>
              <a-sphere class="eye"
              color="#efefef"
              position="-0.16 0.1 -0.35"
              scale="0.12 0.12 0.12"
              >
              <a-sphere class="pupil"
                color="#000"
                position="0 0 -1"
                scale="0.2 0.2 0.2"
              ></a-sphere>
            </a-sphere>
          </a-entity>
          <a-entity class="name" id="name"
          text="value: user0; align:center;" position="0 1 0" rotation="0 180 0" scale="8 8 8"
          look-at="#player"></a-entity>

        </a-entity>
      </template>
    </a-assets>
    <!-- Add to bottom of the a-assets tag -->

    <a-entity id="class_info"
            data-lecture="<%= lectureID %>"
            data-username="<%= user.firstName + " " + user.lastName %>"
            data-groupName="<%=groupName%>">
    </a-entity>

    <a-plane id="ground"
      class="collidable"
      width="10"
      height="10"
      src="#wood"
      rotation="-90 0 0"
      teleport2>
    </a-plane>

    <a-cylinder id="pedestal"
      height ="1"
      radius="0.3"
      position="0 0.5 -3"
      >
    </a-cylinder>

    <a-sphere id="button"
      position="0 1 -3"
      radius="0.2"
      color="#ef2b45"
      class="collidable"
      change-color-on-hover="color: #961021"
      event-set__enter="_event: mouseenter; _target: #buttonText; visible: true"
      event-set__leave="_event: mouseleave; _target: #buttonText; visible: false"
      checkGroup="value: hello"
      button_down="text: <%=group%>"
      >
      <a-text id="buttonText"
        value="Press For Help"
        align="center"
        visible="false"
        position="0 -0.5 0.31"
        geometry="primitive: plane; width: 1.62; height: 0.4"
        material="color: #848484">
      </a-text>
    </a-sphere>

    <a-image id="board"
      width="10"
      height="5"
      color="#ffffff"
      src="url(<%=source%> )"
      rotation="180 0 180"
      position="0 2.5 7"
      button_down_board="index: 0; doodle_index: 0; delay: 2"
      class="collidable">
    </a-image>

    <a-text id="question"
      value="<%=question%>"
      align="center"
      visible="true"
      rotation="180 0 180"
      position="0 6 7"
      geometry="primitive: plane; width: 10; height: 2"
      material="color: #848484">
    </a-text>

    <a-box id="red_box"
      position="6 4 7"
      color="red"
      class="collidable"
      change-drawing-color="color: red">
    </a-box>

    <a-box id="blue_box"
      position="6 2.5 7"
      color="blue"
      class="collidable"
      change-drawing-color="color: blue">
    </a-box>

    <a-box id="green_box"
      position="6 1 7"
      color="green"
      class="collidable"
      change-drawing-color="color: green">
    </a-box>

    <a-box id="eraser_button"
      position="-6 2.5 7"
      color="white"
      class="collidable"
      erase_toggle>
    </a-box>


    <!--
    <a-cylinder id="teleporter0"
      position="3 0 3"
      height="0.1"
      radius="0.5"
      color="red"
      change-color-on-hover="color: #961021"
      class="collidable"
      teleport>
    </a-cylinder>

    <a-cylinder id="teleporter1"
      position="-3 0 3"
      height="0.1"
      radius="0.5"
      color="red"
      change-color-on-hover="color: #961021"
      class="collidable"
      teleport>
    </a-cylinder>

    <a-cylinder id="teleporter2"
      position="0 0 -1"
      height="0.1"
      radius="0.5"
      color="red"
      change-color-on-hover="color: #961021"
      class="collidable"
      teleport>
    </a-cylinder>

    <a-box id="test"></a-box>
    -->

    <a-torus id="target" visible="false" rotation="90 0 0" radius="0.2" radius-tubular="0.01"></a-torus>


    <a-sky id="skybox" src="#clouds"></a-sky>

        <a-entity id="player" shake_reset networked="template:#avatar-template;attachTemplateToLocal:false;" camera position="0 1.3 0" look-controls>
          <a-cursor id="cursor"
            raycaster="objects: .collidable">

            <a-image id="crosshair" src="https://cdn.glitch.com/3ac31fd5-b9c6-4c63-b076-a7d4b243896d%2Fadd_plus-512.png?1530123029481"
              position="0 0 -1"
              width="0.1"
              height="0.1"
              visible="false">
            </a-image>

            <a-image id="circle" src="https://cdn.glitch.com/3ac31fd5-b9c6-4c63-b076-a7d4b243896d%2Fcircle-512.png?1530124205149"
              position="0 0 -1"
              width="0.1"
              height="0.1"
              visible="true">
            </a-image>

            <a-image id="pen" src="https://cdn.glitch.com/3ac31fd5-b9c6-4c63-b076-a7d4b243896d%2Fpen-15.png?1530123029217"
              position="0.1 0.1 -1"
              width="0.1"
              height="0.1"
              visible="false">
            </a-image>

            <a-image id="paint" src="https://cdn.glitch.com/3ac31fd5-b9c6-4c63-b076-a7d4b243896d%2Fpaint-icon-72090.png?1530126049197"
              position="0.1 0.1 -1"
              width="0.1"
              height="0.1"
              visible="false"
              material="color: black">
            </a-image>

            <a-image id="eraser" src="https://cdn.glitch.com/3ac31fd5-b9c6-4c63-b076-a7d4b243896d%2Feraser-512.png?1530199743157"
              position="0.1 0.1 -1"
              width="0.1"
              height="0.1"
              visible="false">
            </a-image>

            <a-image id="steps" src="https://cdn.glitch.com/3ac31fd5-b9c6-4c63-b076-a7d4b243896d%2Fbasic3-120_shoes_foot_step_footsteps-512.png?1530200010638"
              position="0.1 0.1 -1"
              width="0.1"
              height="0.1"
              visible="false">
            </a-image>
          </a-cursor>

          <a-text id="UI"
            value="Help Requested"
            align="center"
            position="0 1 -2"
            color="red"
            visible="false">
          </a-text>
        </a-entity>
  </a-scene>
  <script>

    // Define custom schema for syncing avatar components
    NAF.schemas.add({
      template: '#doodle-template',
      components: [
        'position',
        'rotation',
        'line'
      ]
    });

    window.onload = function() {
    //create a new instance of shake.js.
    var myShakeEvent = new Shake({
        threshold: 15
    });
    // start listening to device motion
    myShakeEvent.start();
    // register a shake event

};
//    var socket = io();
    socket.on($("#class_info").attr("data-lecture") + "-instructorQuestion", function (data) {
        console.log(data)
        console.log(data.question)
        console.log("The professor sent this question: " + data.question)
        M.toast({html: "The professor sent this question: " + data.question, displayLength: 3000})
        document.querySelector('#question').setAttribute('value', data.question);
    })

    socket.on($("#class_info").attr("data-lecture") + "-instructorFile", function (data) {
        console.log(data)
        console.log("The professor sent this file: " + data.file)
        M.toast({html: "The professor sent this file: " + data.fileType, displayLength: 3000})
        document.querySelector('#board').setAttribute('src', 'url(' + data.file + ')');
    })
  </script>
  </body>
    <a href="/course/<%=courseID%>/<%=lectureID%>" id="exit-group-discussion" class="waves-light btn-flat overlay-btn-left">EXIT</a>
  </div>
</html>
